build/
debug/
release/
.vscode/

*.pro.user
*.pro.user.*

moc_*.cpp
ui_*.h
qrc_*.cpp
Makefile
Makefile.*
.qmake.stash

*.o
*.obj
*.pdb
*.ilk
*.res
*.exp

# Windows 可执行、库
*.exe
*.dll
*.lib

# Linux / macOS 库、可执行
*.so
*.a
*.out

*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db